repos:
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: make test/pytest
        language: system
        pass_filenames: false
      - id: ruff
        name: ruff
        entry: make test/ruff
        language: system
        pass_filenames: false
      - id: black
        name: black
        entry: make test/black
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: make test/mypy
        language: system
        pass_filenames: false
      - id: tomlsort
        name: tomlsort
        entry: make test/tomlsort
        language: system
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # v6.0.0 , 9 Aug 2025
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=100']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: end-of-file-fixer
        exclude: '\.(diff|patch)$'
      - id: trailing-whitespace
        exclude: '\.(diff|patch)$'
      - id: check-json
      - id: check-yaml

ci:
  autoupdate_schedule: quarterly
  autoupdate_commit_msg: "Update pre-commit version"

# vim: set nowrap tw=100:
